@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,800&display=swap');

body, button, input{
  font-family: 'DM Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
    
    body {
        font-size: 16px;
        line-height: 1.1;
        font-weight: 400;
      }
      
      /* Heading 1 */
      h1 {
        font-size: 67px;
        font-weight: 600; 
      }
      
      /* Heading 2 */
      h2 {
        font-size: 50px;
        font-weight: 600; 
      }
      
      /* Heading 3 */
      h3 {
        font-size: 38px;
        font-weight: 500; /* Medium */
      }
      
      /* Heading 4 */
      h4 {
        font-size: 28px;
        font-weight: 500; /* Medium */
      }
      
      /* Heading 5 */
      h5 {
        font-size: 21px;
        font-weight: 500; /* Medium */
      }
      
      /* Heading 6 */
      h6 {
        font-size: 16px;
        font-weight: 500; /* Medium */
      }
      
      /* Subtitle */
      .subtitle {
        font-size: 18px;
        font-weight: 500; /* Medium */
      }
      
      /* Body */
      p {
        font-size: 16px;
        font-weight: 400; /* Regular */
      }
      
      /* Button */
      .button {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500; /* Medium */
      }
      
      /* Links */
      a {
        font-size: 16px;
        font-weight: 500; /* Medium */
      }
      
      /* Overline */
      .overline {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500; /* Medium */
      }
      
      /* Caption */
      .caption {
        font-size: 14px;
        font-weight: 400; /* Regular */
      }
      
      /* Caption Small */
      .caption-small {
        font-size: 12px;
        font-weight: 500; /* Medium */
      }
      
}


@media screen and (max-width: 768px) {
    /* Base Typography Styles */
body {
    font-size: 16px; /* Default font size */
    line-height: 1.1; /* Default line height */
    font-weight: 400; /* Default font weight */
  }
  
  /* Heading 1 */
  h1 {
    font-size: 40px;
    font-weight: 500; /* Medium */
  }
  
  /* Heading 2 */
  h2 {
    font-size: 34px;
    font-weight: 500; /* Medium */
  }
  
  /* Heading 3 */
  h3 {
    font-size: 26px;
    font-weight: 400; /* Regular */
  }
  
  /* Heading 4 */
  h4 {
    font-size: 22px;
    font-weight: 400; /* Regular */
  }
  
  /* Heading 5 */
  h5 {
    font-size: 18px;
    font-weight: 500; /* Medium */
  }
  
  /* Heading 6 */
  h6 {
    font-size: 16px;
    font-weight: 500; /* Medium */
  }
  
  /* Subtitle */
  .subtitle {
    font-size: 18px;
    font-weight: 500; /* Medium */
  }
  
  /* Body */
  p {
    font-size: 16px;
    font-weight: 400; /* Regular */
  }
  
  /* Button */
  .button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500; /* Medium */
  }
  
  /* Links */
  a {
    font-size: 14px;
    font-weight: 500; /* Medium */
  }
  
  /* Overline */
  .overline {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500; /* Medium */
  }
  
  /* Caption */
  .caption {
    font-size: 14px;
    font-weight: 400; /* Regular */
  }
  
  /* Caption Small */
  .caption-small {
    font-size: 12px;
    font-weight: 500; /* Medium */
  }
  
}
